article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* normalize clearfix border-box*/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  font-size: .85em;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

header .logo-company-name {
  padding-top: 20px;
  display: flex;
  width: 10%;
}

header .logo-company-name img, header .logo-company-name h3 {
  display: inline-block;
}

header .logo-company-name img {
  width: calc(49px * 0.8);
  height: calc(45px * 0.8);
  margin: auto;
}

header .logo-company-name h3 {
  margin: auto;
  margin-left: 5px;
  color: #f7c212;
  letter-spacing: 2px;
}

header nav {
  padding-top: 20px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header ul {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

header ul a {
  border: none;
  margin: auto;
  text-decoration: none;
  color: #b9b9b9;
}

header ul a :hover {
  color: #f7c212;
  transition: color 0.5s ease;
}

header ul li {
  display: inline-block;
  font-size: .85em;
  letter-spacing: 2px;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  width: 80%;
  margin: auto;
  padding: 55px;
}

.hero-contents {
  width: 100%;
  text-align: center;
}

.hero-contents h2 {
  color: #00001a;
  margin-bottom: 20px;
}

.hero-contents h3 {
  color: #b9b9b9;
  font-size: 0.95em;
  margin-bottom: 30px;
}

.search-box {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.search-box input {
  width: 510px;
  height: 45px;
  padding-left: 25px;
}

.search-box label {
  position: relative;
  right: 50px;
  cursor: pointer;
}

.search-box label i {
  color: #f7c212;
}

.search-box label i:hover {
  color: #00001a;
}

.skills-edu {
  width: 100%;
  height: 200px;
  display: flex;
}

.skills-edu .skills-blurb {
  background-color: #f7c212;
  width: 350px;
  padding: 30px;
}

.skills-edu .skills-blurb h3 {
  color: #00001a;
}

.skills-edu .skills-blurb p {
  color: white;
  line-height: 25px;
}

.skills-edu .skills-type {
  background-color: #f5f5f5;
  width: calc(100% - 350px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-edu .skills-type h3 {
  font-size: .85em;
}

.skills-edu .skills-type .flickity-page-dots {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 150px;
  padding: 10px 15px;
  background-color: #00001a;
}

.skills-edu .skills-type .flickity-page-dots .dot {
  background-color: #b9b9b9;
}

.skills-edu .skills-type .flickity-page-dots .is-selected {
  background-color: #f7c212;
}

.skills-edu .skills-type .flickity-viewport {
  width: 100%;
}

.skills-edu .skills-type .carousel-cell {
  padding: 30px;
  background-color: #00001a;
  margin: 0 10px;
  margin-top: 60px;
  color: white;
}

.flickity-prev-next-button {
  display: none;
}
